---
- name: Delete Account
  mysql_query:
   login_db: syspass
   check_hostname: no
   login_host: "{{ host }}"
   login_password: "{{ password }}"
   login_user: "{{ user }}"
   query: delete from Account where clientid = '{{ customer_id }}'
