#
# File: syspass.conf
#

RedirectMatch "^/$" "/syspass/index.php"

<Directory "/var/www/html/syspass/">
    DirectoryIndex index.php
    Options -Indexes -FollowSymLinks -Includes -ExecCGI

#    <RequireAny>
#      Require expr "%{REQUEST_URI} =~ m#.*/index\.php(\?r=)?#"
#      Require expr "%{REQUEST_URI} =~ m#.*/api\.php$#"
#      Require expr "%{REQUEST_URI} =~ m#^/?$#"
#    </RequireAny>
</Directory>

#<Directory ~ "/var/www/html/syspass/.*/(css|js|images|fonts)">
#  Require all granted
#</Directory>

<FilesMatch ".(png|jpg|js|css|ttf|otf|eot|woff|woff2|ico)$">
    Require all granted
</FilesMatch>

<VirtualHost *:80>
  # the server uses to identify itself. This is used when creating
  # redirection URLs. In the context of virtual hosts, the ServerName
  # specifies what hostname must appear in the request's Host: header to
  # match this virtual host. For the default virtual host (this file) this
  # value is not decisive as it is used as a last resort host regardless.
  # However, you must set it for any further virtual host explicitly.
  #ServerName www.example.com

  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html/syspass/

  # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
  # error, crit, alert, emerg.
  # It is also possible to configure the loglevel for particular
  # modules, e.g.
  #LogLevel info ssl:warn

#  ErrorLog ${APACHE_LOG_DIR}/error.log
#  CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
